In [5]:
import pandas as pd
import json

In [6]:
df = pd.read_csv("been.csv")


df = df.rename(columns={'Abbreviation': 'state', 'County': 'county'})

df.head()

  state     county             Label
0    AL  Limestone         Traveling
1    AL    Madison  Less than 1 week
2    AL     Morgan         Traveling
3    AL   Lawrence         Traveling
4    AL    Colbert         Traveling

In [7]:
# traveling = df[df['Label']=='Traveling'].drop(columns=['Label'])
# traveling.to_json("data/traveling_list.json", orient='records')

# one_week = df[df['Label'] == 'Less than 1 week'].drop(columns=['Label'])
# one_week.to_json("data/one_week_list.json", orient='records')

# one_day = df[df['Label'] == 'Less than 1 day'].drop(columns=['Label'])
# one_day.to_json("data/one_day_list.json", orient='records')

# lived = df[df['Label'] == 'Lived'].drop(columns=['Label'])
# lived.to_json("data/lived_list.json", orient='records')

# more = df[df['Label'] == 'More than 1 week'].drop(columns=['Label'])
# more.to_json("data/more_week_list.json", orient='records')

In [8]:
traveling = df[df['Label']=='Traveling'].drop(columns=['Label'])
traveling_dict = traveling.to_dict(orient='records')

one_week = df[df['Label'] == 'Less than 1 week'].drop(columns=['Label'])
one_week_dict = one_week.to_dict(orient='records')

one_day = df[df['Label'] == 'Less than 1 day'].drop(columns=['Label'])
one_day_dict = one_day.to_dict(orient='records')

lived = df[df['Label'] == 'Lived'].drop(columns=['Label'])
lived_dict = lived.to_dict(orient='records')

more = df[df['Label'] == 'More than 1 week'].drop(columns=['Label'])
more_dict = more.to_dict(orient='records')

final_dict = {
    'traveling_list': traveling_dict,
    'lived_list': lived_dict,
    'one_day_list': one_day_dict,
    'one_week_list': one_week_dict,
    'more_list': more_dict
}

with open("data/data.json", "w") as f:
    json.dump(final_dict, f)